.team {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    background-color: var(--team-fond-color);
}
//ul
.team__list {
    display: block;
    justify-content: center;
    margin: -15px;  
    @media screen and (min-width: 480px) {
            @include flex-list;
            margin: -15px;
        }
      
}
//li
.team__item {
    margin: 15px;
    border-radius: 0 0 4px 4px;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    justify-content: center;
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 15px * 4)/2);
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        flex-basis: calc((100% - 15px * 8)/4);
    }    
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
}
.team-picture {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.team__box {
    padding-top: 30px;
    padding-bottom: 24px;
}

.team__member {
    margin: 0;
    margin-bottom: 10px;
    @include font (16px, 500, 1.18, 0.03em);
    text-align: center;
}

.team__position {
    margin-bottom: 16px;
@include font (16px, 400, 1.18, 0.03em);
    text-align: center;
}