.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--backdrop);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1000ms;
    
}

.backdrop__modal {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    padding: 40px;
    @media screen and (max-width: 1199.5px) {
            max-width: 450px;
            width: 100%;
        }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--main-color);
.backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.backdrop__btn {
    padding: 0;
    position: absolute;
    @extend %align-items;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    background-color: var(--main-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    .backdrop__btn & {
        width: 11px;
        height: 11px;
        fill: var(--text-color);
        transition-property: transform, background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-timing-function);
    }
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}