.hero__text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--main-color);
    @include font (26px, 900, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;

 @media screen and (min-width: 320px) {
     @include font(26px, 900, 1.62, 0.06em);
 }
  @media screen and (min-width: 768px) {
      @include font(26px, 900, 1.62, 0.06em);
  }

 @media screen and (min-width: 1200px) {
   @include font (44px, 900, 1.36, 0.06em);
 }
 
 }


.exemple__text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.scils__text {
    @include font (14px, 700, 1.14, 0.03em);
    color: var(--main-color);
    text-transform: uppercase;
}
.thumb__text {
    @include font (18px, 400, 1.56, 0.03em);
    color: var(--main-color);
}

.address__text,
.address__item {
    color: var(--main-color);
    @include font (14px, 400, 1.7, 0.03em);
    font-style: normal;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}
.advantage__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    @include font (14px, 400, 1.71, 0.03em);
}

.subcribe__text {
    display: flex;
    max-width: 450px;
    margin-right: 0;
    height: 50px;
    padding: 0 0 0 16px;
    @media screen and (min-width: 1200px) {
     max-width: 358px; 
     margin-right: 12px;  
    }
    
    
    
    color: var(--main-color);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover,
    &:focus-within {
        border: 1px solid var(--accent-color);
        outline: 1px solid var(--accent-color);
    }
}
.footer__text {
    @include font (14px, 700, 1.17, 0.03em);
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
}

.agreement__text {
    display: flex;
    align-items: center;
}
.form__textfield {
    padding: 12px 18px 12px 42px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.form__textfield:hover+.form__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.form__textfield:focus+.form__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}